body {
  display: flex;
  width: 100vw;
  height: 100vh;
  
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.body {
  width: 100vw;
  height: 100vh;
  margin: 0px;
  /* background-color: #e2a685; */
  overflow: hidden;
}

.cardcontainer {
  display: flex;
  height: 900px;
  justify-content: space-around;
  align-items: center;
}

.cardcontainer::before{
  opacity: 0.5;
}

.img-boxmap {
  position: absolute;
  width: 690px;
  height: 470px;
  top: 70px;
  left: 1190.33px;
  rotate: -171.82º;
  opacity: 100%;
}

.img-boxsat {
  position: absolute;
  width: 900px;
  height: 500px;
  bottom: -100px;
  /* Posicionando a imagem no fundo da tela */
  left: -100px;
  /* Posicionando a imagem no canto esquerdo */
}
